<<<<<<< HEAD
nav {
  padding-right: 60px;
  padding-left: 60px;
  border: 1px solid black;
  background-color: grey;
  height: 60px;
  position: fixed;
  width: 100%;
 }

.links {
  left: 150px;
  position: absolute;
  display: inline-block;
  top: 20px;
}

nav a::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}

nav a {
  color: blue;
}

nav .foto {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%
  border: 1px solid black;
  vertical-align: middle;
}

.border {
  border: 10px green dotted;
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  position: relative;
  
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

.spacecat, .spacedog {
    width: 200px;
    position: absolute;
}

.spacedog {
    bottom: -100px;
    right: -100px;
}

.spacecat {
    bottom: 160px;
    left: -90px;
}
=======
nav img {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50px;
}

nav	{
	background-color: grey;
	width: 100%;
	height: 60px;
	position: fixed;
	padding-left: 60px;
	padding-right: 60px;
}

nav ul {
	list-style: none;
	position: absolute;
	left: 120px;
	top: 5px;
}

nav li {
	display: inline-block;
}

nav li::after {
	content: " |"
}

nav a:hover {
	color: black;
}

.dot_box {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 250px; 

}

.dot_box img {
	width: 200px;
	height: 200px;
}

.dog {
	position: absolute;
	right: -80px;
	bottom: -110px;
}

.cat {
	position: absolute;
	left: -95px;
	top: -100px;
}

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}
>>>>>>> master
